<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cat</title>
</head>
<body>
    <h1>OIIA CAT (旋轉貓咪)</h1>
    <p>本名:Ethel
        主人:oiiacat_ethel
        國家:美國
        年齡:13歲的old貓咪
        特色:失明且無牙
        爆紅原因:
        起初是因為這一張梗圖: https://images.app.goo.gl/k5REyHWgDYA4eQc26
        後來被中國大陸的bilibili創作者”黑瘦的魚頭”配上鬼畜的配音而人氣一飛衝天(超過1300萬次觀看)
        音效的來源是來自一位土耳其小孩模仿<friday night funckin>的風格翻唱<summer day>的remix歌曲
        影片來源: https://youtu.be/IxX_QHay02M?si=SFJ8mxRsvczD87hq
        </p>
</body>
</html>